// Fonts
$font-default: 'Inter', sans-serif;
$font-title: 'Manrope', sans-serif;

//Colors
$bg-body: #faf9f9;
$bg-header: #ffffff;
$bg-nav: #f4f3f3;
$bg-gray: #e0e3e3;
$bg-buttons: #415aab;
$bg-drop-files: #afb2b3;
$color-dashboard-gray: #535252;
$color-dashboard-blue: #415aab;
$color-dashboard-green: #206c3a;
$color-text: #2f3334;
$color-gray: #5c6060;
$color-green: #0e6030;
$color-accent: #1e3a8a;
$color-placeholder: #bebebe;
$color-form-p: #e7e7e7;
